*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body{
    position: relative;
    height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  }
  
  .back-vid{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  
  
  @media (max-aspect-ratio: 16/9){
    .back-vid{
      width: auto;
      height: 80%;
    }
  }
  
  @media (min-aspect-ratio: 16/9){
    .back-vid{
      width: 100%;
      height: auto;
    }
  }
  
  
  
  .main-section{
    width: 90%;
    height: 90%;
    background-color:#1886f41b;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    box-shadow: 5px 5px 20px 1px #4acfee;
  }
  
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
  }
  
  nav h1{
    color: white;
    font-size: 30px;
    font-weight: 900;
  }
  
  nav ul{
    list-style: none;
    display: flex;
  }
  
  nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
    padding: 0px 23px;
  }
  
  nav a:hover ,
  .active {
    color : #4acfee;
    text-decoration: underline;
  }

  .profile i {
    font-size: 28px;
    color: white;
    transition: 0.3s;
  }
  .profile a:hover i {
    color: #4acfee;
  }

  
  .hero{
    display: flex;
    align-items: center;
    height: 70%;
    padding: 0 10%;
    color: white;
    justify-content: space-between;
  }
  
  .hero h1{
    font-size: 38px;
    margin-bottom: 10px;
  }
  
  .hero h2{
    font-size: 50px;
    text-transform: uppercase;
    background:linear-gradient(to right, #4acfee, #53f8c9, #6070fd, #5bbdff, #4acfee);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
  }
  
  @keyframes animate-gradient {
    to {
      background-position: 200%;
    }
  }
  
  .hero p{
    max-width: 450px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px; 
  }
  
  .hero-icons{
    display: flex;
  }
  
  .btn{
    display: inline-block;
    padding: 15px 30px;
    background-color: #4acfee;
    border: 2px solid #4acfee;
    border-radius: 40px;
    box-shadow: 0 0 10px #4acfee;
    font-size: 16px;
    font-weight: 900;
    color: #0e1217;
    cursor: pointer;
    margin-right: 15px;
    transition: 0.3s;
    text-wrap: nowrap;
  }
  
  .btn:hover{
    background-color: transparent;
    box-shadow: none;
    color: #4acfee;
  }
  .btn-outline {
    background-color: transparent;
    color: #4acfee;
    border: 2px solid #4acfee;
    box-shadow: none;
  }
  .btn-outline:hover {
    background-color: #4acfee;
    color: #0e1217;
    box-shadow: 0 0 10px #4acfee;
  }
  

  
  .hero-img{
    width: 400px;
    height: 400px;
    background-color: none;
    position:relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 0 10px #4eddfd;
    transition: 0.5s;
  }
  
  .hero-img:hover{
    box-shadow: 0 0 25px #4acfee;
  }
  
  .hero-img img{
    position: absolute;
    width: 140%;
    mix-blend-mode: lighten;
  }
  
  .scroll-down {
    height: 5rem;
    width: 2rem;
    position: absolute;
    right: 2%;
    bottom: 5%;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.scroll-down::before,
.scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid lightgray;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 3s ease-in-out infinite;
}

.scroll-down::before {
    top: 30%;
    animation-delay: 0.8s;
}

@keyframes scroll-down {
    0% {
        opacity: 0;
    }
    30%,60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 90%;
    }

}

/*about-section*/

.about-section {
    height: 95vh;
    width: 100%;
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url("2.png"), url("7.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 120px auto, 300px auto;
    background-position: 30px 10px, 105% -45px

  }

.about-title {
    margin-bottom: 5%;
    margin-top: -25rem;
    font-size: 3rem;
    background-image: linear-gradient(to right, #5bbdff, #4acfee);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.bento-grid {
    position: relative;
    display: grid;
    height: 50vh;
    width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-areas: 
        "intro intro tech"
        "time passion tech"
    ;
    gap: 2.0rem;
  
}

.card {
    background: linear-gradient(145deg, rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.07));
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 24PX;
    padding: 1.5rem;
    transition: transform 0.3s ease,
                border-color 0.3s ease,
                box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}

/* CARD SPECIFIC AREAS */
    .intro { grid-area: intro; min-height: 130px; min-width: 400px}
    .tech {grid-area: tech; min-height: 680px;}
    .time { grid-area: time; min-height: 250px;min-width: 250px}
    .passion { grid-area: passion; min-height: 250px; min-width: 250px}


/* HOVER EFFECTS */
.card:hover {
    border-color: transparent;
    box-shadow: 0 10px 30px rgba(79, 188, 239, 0.5);
    transform: translateY(-5px);
}

/* SPOTLIGHT EFFECT */
.card::before {
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    background: radial-gradient(circle at var(--x) var(--y),
                rgba(124, 233, 230, 0.1),
                transparent 40%
            );
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
}

.card:hover::before {
    opacity: 1;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 0 0 1.5rem 0;
    color: #22a0f5;
}

.card-text {
    color: #080202;
    line-height: 1.5;
    margin-top: 0.8rem;
    margin-bottom: 2rem;
    max-width: 50rem;
    font-size: 1.1rem;
}
.card.time .card-text {
    font-size: 1.1rem;
    line-height: 1.08;
    margin-bottom: 10px;
    word-wrap: break-word;    
    white-space: normal;      
    width: 100%;
    word-wrap: break-word;
    max-height: 300px; 
    overflow-y: auto;
    padding-right: 10px; 
}
.card.passion .card-text {
    font-size: 1.1rem;
    line-height: 1.08; 
    margin-bottom: 0.8rem;
    word-wrap: break-word;    
    white-space: normal;      
    width: 100%;
}

.bento-grid .background-img {
    position: absolute;
    inset: -1% -1% -1% -1%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
  
.bento-grid .skills-group {
    position: absolute;
    bottom: 5%;
    left: 15%;
    width: 70%;
}

/*project section*/
.projects-section {
    width: 100%;
    font-size: 3rem;
    margin-bottom: 4rem;
    margin-top: 5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects-section h3 {
    margin-bottom: 5%;
    font-size: 3rem;
    background-image: linear-gradient(to right, #22a0f5, #10c3ec);
    color: transparent;
    background-clip: text;
}

.slider {
    margin-top: 4rem;
    height: var(--height);
    width: 100%;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
}

.slider .list {
    display: flex;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}

.slider .list .item {
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 80%;
    animation: autoRun 10s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc( (10s / var(--quantity)) * (var(--position) - 1) - 10s)!important;
    transition: 0.5s;
    overflow: hidden;
    display: flex;
  justify-content: center;
  align-items: center;
}

.slider .list .item img {
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}


@keyframes autoRun {
    from {
        left: 100%;
    }
    to {
        left: calc(var(--width) * -1);
    }
}

.slider:hover .item {
    animation-play-state: paused!important;
    filter: grayscale(1);
}

.slider .item:hover {
    filter: grayscale(0);
    scale: 1.2;
}


.slider .item .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  color: #3c9ad8;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  padding: 0.5rem 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  z-index: 2;
}
  

 /* CONTACT SECTION */
.contact-section {
  padding: 60px 0;
  margin-top: 20rem;
  margin-bottom: 10rem;
}

.section-header {
  text-align: center;
  margin-bottom: 40px;
}

.section-header h3 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: -14rem;
  background-image: linear-gradient(to right, #22a0f5, #10c3ec);
  color: transparent;
  background-clip: text;
}

.section-header p {
  color: rgb(82, 78, 78);
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.1rem;
}

/* CONTACT GRID */
.contact-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.info-card {
  background-color: #56afd8;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  padding: 20px;
}

.info-card:hover {
  transform: translateY(-5px);
}



.info-card h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: white;
}

.contact-item {
  margin-bottom: 1.5rem;
}

.contact-item p {
  font-weight: 600;
  margin-bottom: 0.8rem;
  color: #0e5b95;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

}

.contact-item a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.contact-item .label {
  color: #0e5b95;
  font-weight: 600;
}

.value {
  color: white;
  font-weight: 600;
}
.social-link {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #333;
}

.social-link p {
  margin-bottom: 15px;
  color: #7ce9e6;
  font-weight: 600;
}

.social-link a {
  display: inline-block;
  margin-right: 15px;
  color: rgb(101, 97, 97);
  text-decoration: none;
  padding: 8px 15px;
  background-color: white;
  border-radius: 6px;
  transition: all 0.2s;
}

.social-link a:hover {
  background-color: #7ce9e6;
  color: lightgray;
}


/* FORM STYLE */
.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 12px 15px;
  background-color: white;
  border-radius: 8px;
  color: rgb(67, 64, 64);
  font-size: 16px;
  transition: border-color 0.3s;
  border: 1px solid #fffefe;
}

.form-control:focus {
  outline: none;
  color: #000000;
}

textarea.form-control {
  min-height: 120px;
  resize: vertical;
}

.message-btn {
  width: 100%;
  padding: 12px;
  background-color: rgba(124, 233, 230, 0.1);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.message-btn:hover {
  background-color: #ffffff;
  color: #383840;
}

.success-message {
  background-color: #56afd8;
  color: #ecf0ef;
  padding: 12px;
  border-radius: 8px;
  margin-top: 20px;
  display: none;
}



.box-icons {
  display: flex;
  gap: 2rem;
}

.box-icons a {
  color: lightgray;
  font-size: 2rem;
  transition: color 0.5s;
}

.box-icons a:hover {
  color: #ffffff;
}



@media (max-width: 1400px) {
  main h1 {
      font-size: 6.3rem;
      letter-spacing: 0;
  }



  .bento-grid {
      position: relative;
      display: grid;
      height: 80vh;
      width: 100%;
      grid-template-columns: auto auto;
      grid-template-areas: 
      "intro  tech"
      "time passion " ;
  
  }

  .intro { grid-area: intro; min-height: 200px; min-width:300px ;}
  .tech {grid-area: tech; height: 700px; min-width:250px ;}
  .time { grid-area: time; min-height: 220px; min-width: 250px;}
  .passion { grid-area: passion; min-height: 220px; min-width: 250px; }

  .card-title {
      font-size: 1.2rem;
      margin-top: 0;
  }

  .card-text {
      line-height: 1.3;
      font-size: 0.8rem;
  }

  .model-box {
      right: 10%;
      top: 18%;
  }

  .intro {min-height: 700px;}
  .time {grid-area: time; min-height: 300px;}

  .projects-section {
      margin-top: 40rem;
  }

  .slider .list .item {
      width: 40rem;
      height: 20rem;
  }

  .slider .list {
      min-width: calc(30rem * var(--quantity));
  }
}


@media (max-width: 480px) {
  main h1 {
      display: none;
  }

  main h2 {
      display: block;
      margin-top: -3rem;
  }

  .bio-section {
      margin-bottom: 1rem;
  }

  .bio {
      font-size: 0.8rem;
      max-width: 15rem;
  }

  .bento-grid {
      grid-template-columns: 1fr;
      grid-template-areas: 
          "intro"
          "tech"
          "time"
          "passion"
      ;
  }

  .about-title {
      margin-bottom: 5%;
      font-size: 3rem;
  }

  .model-box {
      right: -4%;
      top: 27%;
      scale: 0.7;
  }

  .projects-section {
      margin-top: 100rem;
  }

  .projects-section h3 {
      margin-bottom: 5%;
      font-size: 3rem;
  }

  .slider .list .item {
      width: 20rem;
      height: 10rem;
  }

  .slider .list {
      display: flex;
      min-width: calc( 10rem * var(--quantity));
  }

  .section-header h3 {
      font-size: 3rem;
  }

  .contact-section {
      margin-top: 0;
  }

  .box-icons {
      display: none;
  }

  footer h3 {
      font-size: 1rem;
  }
}


@media (max-width: 380px) {
  body {
      padding: 1rem;
  }

  main h2 {
      font-size: 6rem;
  }

  .logo {
      font-size: 1.2rem;
  }

  .location p{
      font-size: 1rem;
  }

  .contact-btn {
      padding: 0.4rem 1.5rem;
      font-size: 0.9rem;
  }

  .model-box {
      right: 2%;
      top: 27%;
  }

  footer h3 {
      font-size: 0.8rem;
  }
} 
  
